In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn as sk

### Problem-1

In [4]:
arr = np.random.randint(1, 51, size=(5, 4))
print(arr)

anti_diag = [arr[i, -(i+1)] for i in range(min(arr.shape))]
print("Anti-diagonal elements:", anti_diag)

[[39 40 42 12]
 [18 38 41 49]
 [36 31 20 26]
 [37 30  8 49]
 [15 18 10 19]]
Anti-diagonal elements: [12, 41, 31, 37]

In [5]:
for i in range(5):
    print(max(arr[i,:]))

42
49
36
49
19

In [10]:
mean=np.mean(arr)
mean
new = arr[arr <= mean]
new

array([12, 18, 20, 26,  8, 15, 18, 10, 19])

In [ ]:
def numpy_boundary_traversal(matrix):
    rows, cols = matrix.shape
    result = []

    # Traverse the first row
    for j in range(cols):
        result.append(matrix[0, j])

    # Traverse the last column
    for i in range(1, rows):
        result.append(matrix[i, cols - 1])

    # Traverse the last row if there are more than one row
    if rows > 1:
        for j in range(cols - 2, -1, -1):
            result.append(matrix[rows - 1, j])

    # Traverse the first column if there are more than one column
    if cols > 1:
        for i in range(rows - 2, 0, -1):
            result.append(matrix[i, 0])

    return result

### Problem-2

In [21]:
arr = np.random.random(20)*20
print(arr)
arr=arr.round(2)
print(arr)

[ 6.26226024 15.72777087 15.55811335 11.80899779  8.38476845  6.08006
  4.42582635  8.62257391  8.27518655  4.8869579  13.84985518  5.68306599
 12.29318704 15.01311835 15.19429076 11.44316049  2.34267395 18.55937922
 11.03133529  1.21315856]
[ 6.26 15.73 15.56 11.81  8.38  6.08  4.43  8.62  8.28  4.89 13.85  5.68
 12.29 15.01 15.19 11.44  2.34 18.56 11.03  1.21]

In [23]:
mini=np.min(arr)
maxi=np.max(arr)
med=np.median(arr)
print(mini, maxi, med)

1.21 18.56 9.825

In [24]:
arr[arr<5]=arr[arr<5]**2
arr

array([ 6.26  , 15.73  , 15.56  , 11.81  ,  8.38  ,  6.08  , 19.6249,
        8.62  ,  8.28  , 23.9121, 13.85  ,  5.68  , 12.29  , 15.01  ,
       15.19  , 11.44  ,  5.4756, 18.56  , 11.03  ,  1.4641])

In [31]:
def numpy_alternate_sort(array):
    sorted_arr = np.sort(array)
    result = []
    left, right = 0, len(sorted_arr) - 1
    while left <= right:
        result.append(sorted_arr[left])
        left += 1
        if left <= right:
            result.append(sorted_arr[right])
            right -= 1
    return np.array(result)

### Problem-3

In [32]:
names = ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace', 'Helen', 'Ivy', 'Jack']
subjects = ['Math', 'Science', 'English', 'History', 'Geography', 'Physics', 'Chemistry', 'Biology', 'Art', 'Music']
scores = np.random.randint(50, 101, size=10)

df = pd.DataFrame({
    'Name': names,
    'Subject': subjects,
    'Score': scores,
    'Grade': [""] * 10
})
df

      Name    Subject  Score Grade
0    Alice       Math     73
1      Bob    Science     52
2  Charlie    English     89
3    David    History     55
4      Eva  Geography     76
5    Frank    Physics     70
6    Grace  Chemistry     89
7    Helen    Biology     90
8      Ivy        Art     76
9     Jack      Music     77

In [33]:
df['Grade'] = pd.cut(df['Score'], bins=[-1, 59, 69, 79, 89, 100], labels=['F', 'D', 'C', 'B', 'A'])
df

      Name    Subject  Score Grade
0    Alice       Math     73     C
1      Bob    Science     52     F
2  Charlie    English     89     B
3    David    History     55     F
4      Eva  Geography     76     C
5    Frank    Physics     70     C
6    Grace  Chemistry     89     B
7    Helen    Biology     90     A
8      Ivy        Art     76     C
9     Jack      Music     77     C

In [34]:
df.sort_values(by='Score', ascending=False)

      Name    Subject  Score Grade
7    Helen    Biology     90     A
2  Charlie    English     89     B
6    Grace  Chemistry     89     B
9     Jack      Music     77     C
4      Eva  Geography     76     C
8      Ivy        Art     76     C
0    Alice       Math     73     C
5    Frank    Physics     70     C
3    David    History     55     F
1      Bob    Science     52     F

In [35]:
avg_scores = df.groupby('Subject')['Score'].mean()
avg_scores

Subject
Art          76.0
Biology      90.0
Chemistry    89.0
English      89.0
Geography    76.0
History      55.0
Math         73.0
Music        77.0
Physics      70.0
Science      52.0
Name: Score, dtype: float64

In [37]:
def pandas_filter_pass(dataframe):
    return dataframe[dataframe['Grade'].isin(['A', 'B'])]

pandas_filter_pass(df)

      Name    Subject  Score Grade
2  Charlie    English     89     B
6    Grace  Chemistry     89     B
7    Helen    Biology     90     A

### Problem-4

In [57]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score
import pandas as pd
import numpy as np

# Generate synthetic reviews
positive_reviews = [
    "Absolutely loved it!", "Great movie, will watch again.", "Fantastic performance.",
    "Brilliant story and direction.", "Amazing visuals and soundtrack.", "Superb acting!",
    "Best movie of the year.", "Highly recommended.", "Touching and emotional.",
    "A masterpiece.", "Loved the characters.", "Beautifully shot.", "Great from start to finish.",
    "Outstanding plot.", "Incredible journey.", "Perfectly executed.", "Heartwarming scenes.",
    "Marvelous experience.", "Five stars!", "Pure cinematic joy.", "Really well done.",
    "Enjoyable and well-made.", "Great pacing and story.", "Memorable experience.",
    "Inspiring and uplifting.", "Simply awesome!", "Fun and exciting.", "A true classic.",
    "Very entertaining.", "Will definitely rewatch.", "Engaging story.", "Top-notch direction.",
    "Hilarious and sweet.", "Loved every minute.", "Totally worth it.", "Spectacular visuals.",
    "Beautiful narrative.", "What a ride!", "Terrific performances.", "Very well written.",
    "Impressive work.", "Emotional and strong.", "Clever and creative.", "Heartfelt drama.",
    "Just amazing!", "Gripping tale.", "Never a dull moment.", "Well acted and directed.",
    "Mind-blowing experience.", "A must-see film."
]

negative_reviews = [
    "Absolutely terrible.", "Worst movie I've seen.", "Poor acting.",
    "Terrible plot and dialogue.", "Boring and slow.", "Disappointing experience.",
    "Not worth watching.", "Waste of time.", "Ridiculous storyline.",
    "Unwatchable.", "Bad script.", "Annoying characters.", "Horrible ending.",
    "Too predictable.", "Very cheesy.", "Mediocre at best.", "Cringeworthy scenes.",
    "Awful direction.", "Painfully boring.", "Forgettable film.", "Plot holes everywhere.",
    "Overacted and fake.", "Terrible pacing.", "Disjointed narrative.", "Poorly made.",
    "Lacked substance.", "Very dull.", "Nothing special.", "Flat and lifeless.",
    "Terribly written.", "Uninspired performance.", "No chemistry.", "Rushed ending.",
    "Confusing and messy.", "Too long and boring.", "Badly directed.", "Predictable ending.",
    "Lackluster throughout.", "Cheap production.", "Unrealistic characters.",
    "Didn't enjoy it.", "Failed to impress.", "Too cliché.", "Lazy storytelling.",
    "Full of plot holes.", "Regret watching.", "Soundtrack was awful.", "A complete mess.",
    "Just bad.", "I want my time back."
]
# len(positive_reviews), len(negative_reviews)
reviews = list(positive_reviews) + list(negative_reviews)
sentiments = ['positive'] * 50 + ['negative'] * 50
# Create and shuffle DataFrame
# # Create DataFrame
movie_df = pd.DataFrame({'Review': reviews, 'Sentiment': sentiments})
movie_df = movie_df.sample(frac=1, random_state=42).reset_index(drop=True)
movie_df

                         Review Sentiment
0          Confusing and messy.  negative
1   Terrible plot and dialogue.  negative
2        Plot holes everywhere.  negative
3                Gripping tale.  positive
4                 Just amazing!  positive
..                          ...       ...
95                  Bad script.  negative
96          Overacted and fake.  negative
97          Incredible journey.  positive
98                  Too cliché.  negative
99       Worst movie I've seen.  negative

[100 rows x 2 columns]

In [58]:
# Tokenize reviews
vectorizer = CountVectorizer(max_features=500, stop_words='english')
X = vectorizer.fit_transform(movie_df['Review'])
y = movie_df['Sentiment']

# Split dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

# Train classifier
clf = MultinomialNB()
clf.fit(X_train, y_train)

# Predict and print accuracy
y_pred = clf.predict(X_test)
print("Test Accuracy:", accuracy_score(y_test, y_pred))

Test Accuracy: 0.55

In [59]:
# Prediction function
def predict_review_sentiment(model, vectorizer, review):
    X_new = vectorizer.transform([review])
    return model.predict(X_new)[0]
# Example usage
sample_review = "That was a fantastic film!"
print("Predicted sentiment:", predict_review_sentiment(clf, vectorizer, sample_review))

Predicted sentiment: positive

### Problem-5

In [60]:
import pandas as pd
import random
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

# 1. Create synthetic dataset
good_feedback = [
    "Excellent product!", "Very satisfied.", "Works perfectly.", "Love it!", "Highly recommend.",
    "Superb quality.", "Fast delivery, great service.", "Amazing performance.", "Top-notch!",
    "Great value for money.", "Product as described.", "Exceeded expectations.",
    "Fantastic experience.", "Reliable and efficient.", "Truly satisfied.",
    "Customer support was helpful.", "Five stars.", "User-friendly and effective.",
    "Good quality build.", "Easy to use.", "Would buy again.", "Delivered on time.",
    "Exactly what I needed.", "Affordable and great.", "Top quality.", "Performs very well.",
    "Impressive results.", "Very happy with the purchase.", "It does the job.",
    "Comfortable to use.", "Great craftsmanship.", "Packaging was good.", "Sturdy and durable.",
    "Looks amazing.", "Helpful documentation.", "Lives up to expectations.",
    "A good investment.", "Responsive controls.", "Setup was a breeze.", "Will recommend to friends.",
    "Elegant design.", "Makes life easier.", "Value for money.", "Great purchase.",
    "Zero issues so far.", "Met all my needs.", "Everything works smoothly.",
    "Fantastic usability.", "Product quality is top.", "Reliable performance."
]

bad_feedback = [
    "Terrible product.", "Very disappointed.", "Doesn't work properly.", "Hate it.", "Would not recommend.",
    "Poor quality.", "Late delivery.", "Awful service.", "Defective on arrival.", "Not worth the money.",
    "Item was broken.", "Fell apart quickly.", "Completely useless.", "Horrible experience.",
    "Stopped working in a week.", "Very unreliable.", "One star.", "Not user-friendly.",
    "Feels cheap.", "Hard to use.", "Regret buying this.", "Came damaged.",
    "Didn't match description.", "Overpriced and useless.", "Low quality.",
    "Performance was poor.", "Very frustrating to use.", "A waste of time.",
    "Uncomfortable to use.", "Build feels flimsy.", "Badly packaged.", "Weak and fragile.",
    "Ugly design.", "No instructions.", "Did not meet expectations.", "Wasted my money.",
    "Controls are unresponsive.", "Setup was confusing.", "Won't recommend.",
    "Design is awful.", "Doesn't help at all.", "Too expensive for what it does.",
    "Not worth it.", "Poor buying decision.", "Many issues encountered.", "Everything went wrong.",
    "Worst purchase ever.", "Quality is terrible.", "Extremely dissatisfied.", "Returned immediately."
]

feedback = good_feedback + bad_feedback
labels = ['good'] * 50 + ['bad'] * 50

# Create and shuffle DataFrame
data = pd.DataFrame({'Feedback': feedback, 'Label': labels})
data = data.sample(frac=1, random_state=42).reset_index(drop=True)

In [61]:

# 2. Preprocessing with TfidfVectorizer
vectorizer = TfidfVectorizer(max_features=300, lowercase=True, stop_words='english')
X = vectorizer.fit_transform(data['Feedback'])
y = data['Label']

# 3. Split into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

# 4. Train Logistic Regression model
model = LogisticRegression()
model.fit(X_train, y_train)

# 5. Evaluate on test set
y_pred = model.predict(X_test)
print(classification_report(y_test, y_pred))

# 6. Function: text_preprocess_vectorize
def text_preprocess_vectorize(texts, vectorizer):
    """
    Vectorizes a list of text samples using a fitted TfidfVectorizer.
    
    Parameters:
    - texts: List of strings (text samples)
    - vectorizer: Fitted TfidfVectorizer
    
    Returns:
    - TF-IDF feature matrix
    """
    return vectorizer.transform(texts)

# Example use
example_texts = ["This product is amazing!", "Completely useless."]
example_features = text_preprocess_vectorize(example_texts, vectorizer)
example_preds = model.predict(example_features)

for text, pred in zip(example_texts, example_preds):
    print(f"Review: '{text}' → Sentiment: {pred}")

              precision    recall  f1-score   support

         bad       0.38      1.00      0.55         8
        good       1.00      0.24      0.38        17

    accuracy                           0.48        25
   macro avg       0.69      0.62      0.47        25
weighted avg       0.80      0.48      0.44        25

Review: 'This product is amazing!' → Sentiment: good
Review: 'Completely useless.' → Sentiment: bad